nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: max-content;
  position: fixed;
  display: block;
  gap: 0.9rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7rem 1.7rem;
  bottom: 2rem;
  display: flex;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  z-index: 2;
}
nav a {
    background-color: transparent;
    font-size: 1.1rem;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
}
nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}